.container.contact_container {
  width: 90%;
  /* margin: auto;
  display: grid;
  grid-template-columns: 35%   1fr;
  gap: 12%; */
}
.contact_options {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* gap: 1.2rem; */
}
.contact_option {
  width: 350px;
  background-color: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}
.contact_option:hover {
  background-color: transparent;
  border-color: var(--color-primary-variant);
}
.contact_option-icon {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.contact_option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--color-bg);
  background: var(--color-white);
  padding: 10px;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}
@media (max-width: 1024px) {
  .container.contact_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media (max-width: 690px) {
  .container.contact_container {
    width: var(--container-width-sm);
  }
}
